body
{
  background-color: #e7ecff;
}

.dropdown-toggle::after {
  content: none;
}

.custom-shadow {
  border: 1px solid #c7c7c7;
}

.product_id {
  color: gray;
  font-size: 15px;
}

.my-bg-main {
  background-color: rgba(45, 52, 148);
}

.my-btn {
  color: #fff;
  background-color: #52a8ff;
  border-color: #72b9ff;
}

.my-bg-secondary {
  background-color: #f4f6ff;
}

.my-bg-white {
  color: --bs-dark;
  background-color: #f4f6ff;
}

.my-bg-white:hover, .my-btn:hover {
  color: #fff;
  background-color: #83aaff;
  border-color: #dbd1ff;
}

.my-btn:active {
  color: #fff;
  background-color: #83aaff;
  border-color: #dbd1ff;
}

.badge.bg-warning.text-dark {
  position: absolute;
  top: 10px;
  right: 5px;
  z-index: 1;
  padding: 5px 10px;
  border-radius: 3px;
  font-size: 1rem;
}

.badge-banner {
  top: 80%;
  border-radius: 15px;
  font-size: 0.7rem;
}